# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vitest
coverage

# Build artifacts
lib
es
types

# Temp files
.temp
.tmp

# OS
Thumbs.db

# ── VitePress 特有 ─────────────────────────
packages/docs/.vitepress/dist
packages/docs/.vitepress/.temp
packages/docs/.vitepress/cache
